checkbox {
    input[type="checkbox"] {
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
        margin-right: 10px;
        margin-left: 10px;
    }
}

input[type="checkbox"] {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    margin-right: 10px;
    margin-left: 10px;
}