.tab-buttons {
    padding: 1rem;
    display: flex;
    background: white;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    border-bottom: 1px solid #aaa;
    position:relative;

  i {
    font-size: 1.5rem;
  }

  .btn-primary {
    padding: 0;
    background: none !important;
    border: 2px solid $button-color;
    color: $blue-4 !important;
    margin-top: 12px;
    display: flex;
    justify-content: center;

    .icon-container {
      background: #fff;
      border-radius: 20px;
      display: inline-block;
      width: 28px;
      height: 28px;
      border: 2px solid #fff;
    }

    .btn-label {
      padding-left: 15px;
      padding-right: 15px;
      align-self: center;
    }
  }
  .btn-primary:focus {
    outline: none !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px #005eb8;
  }

  .btn-primary.active {
    background: $button-color !important;
    border: 2px solid $button-color;
    color: white !important;
  }
    .btn-primary:active:focus {
    outline: none !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px #005eb8;
    border-color:#115080;
  }
  .risk-alert {
    color: $alertColor;
  }
  .risk-critical {
    color: $criticalColor;
  }
  .risk-none {
    display: none;
  }

  .state-border {
    border-top: 6px solid;
    margin-right: 15px;
    border-radius: 15px;
    padding-top: 0px;

    &.state-none {
      border-top: none;
    }

    &.state-invalid {
      border-color: $stateInvalidColor;
    }

    &.state-valid {
      border-color: $stateValidColor;
    }

    &.state-not-visited {
      border-color: $stateNotVisitedColor;
    }

    &.state-dont-care {
      border-color: $stateDontCareColor;
    }
  }
}
