@font-face {
    font-family: 'BritishGasIcons';
    src:    url('../fonts/bgicons/BritishGasIcons.eot?w9cpq1');
    src:    url('../fonts/bgicons/BritishGasIcons.eot?w9cpq1#iefix') format('embedded-opentype'),
        url('../fonts/bgicons/BritishGasIcons.ttf?w9cpq1') format('truetype'),
        url('../fonts/bgicons/BritishGasIcons.woff?w9cpq1') format('woff'),
        url('../fonts/bgicons/BritishGasIcons.svg?w9cpq1#BritishGasIcons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'BritishGasIcons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-experience-1:before {
    content: "\e928";
}
.icon-experience-2:before {
    content: "\e929";
}
.icon-experience-3:before {
    content: "\e912";
}
.icon-information:before {
    content: "\e900";
}
.icon-exit:before {
    content: "\e901";
}
.icon-feedback:before {
    content: "\e902";
}
.icon-navigate:before {
    content: "\e903";
}
.icon-pin:before {
    content: "\e904";
}
.icon-house:before {
    content: "\e905";
}
.icon-products:before {
    content: "\e906";
}
.icon-calendar:before {
    content: "\e907";
}
.icon-contacts:before {
    content: "\e908";
}
.icon-user:before {
    content: "\e909";
}
.icon-braile:before {
    content: "\e90a";
}
.icon-contact:before {
    content: "\e90b";
}
.icon-email:before {
    content: "\e90c";
}
.icon-help:before {
    content: "\e90d";
}
.icon-online:before {
    content: "\e90e";
}
.icon-phone:before {
    content: "\e90f";
}
.icon-plumbing:before {
    content: "\e910";
}
.icon-post:before {
    content: "\e911";
}
.icon-textphone:before {
    content: "\e927";
}
.icon-dashboard:before {
    content: "\e913";
}
.icon-documents:before {
    content: "\e914";
}
.icon-dualenergy:before {
    content: "\e915";
}
.icon-energyusage:before {
    content: "\e916";
}
.icon-engineerappointments:before {
    content: "\e917";
}
.icon-homecare:before {
    content: "\e918";
}
.icon-meter:before {
    content: "\e919";
}
.icon-moving:before {
    content: "\e91a";
}
.icon-notification:before {
    content: "\e91b";
}
.icon-tariff:before {
    content: "\e91c";
}
.icon-billings:before {
    content: "\e91d";
}
.icon-boiler-control:before {
    content: "\e91e";
}
.icon-boiler-replacement:before {
    content: "\e92a";
}
.icon-boiler-iq:before {
    content: "\e92b";
}
.icon-ctrl-heating:before {
    content: "\e91f";
}
.icon-home-elec:before {
    content: "\e920";
}
.icon-gak:before {
    content: "\e921";
}
.icon-kak:before {
    content: "\e922";
}
.icon-plumbing-and-drains:before {
    content: "\e923";
}
.icon-elec:before {
    content: "\e924";
}
.icon-gas:before {
    content: "\e925";
}
.icon-compass:before {
    content: "\e926";
}

