
@font-face {
  font-family: BGFlame;
  src: url('../fonts/bgflame/regular/bgflameweb-regular.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: BGFlame;
  src: url('../fonts/bgflame/bold/bgflameweb-bold.woff') format('woff');
  font-weight: bold;
  font-style:normal;
}
@font-face {
  font-family: BGFlame;
  src: url('../fonts/bgflame/italic/bgflameweb-italic.woff') format('woff');
  font-style: italic;

}
@font-face {
  font-family: BGFlame;
  src: url('../fonts/bgflame/bolditalic/bgflameweb-bolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: BGFlame;
  src: url('../fonts/bgflame/italic/bgflameweb-italic.woff') format('woff');
  font-style: italic;
}
@font-face {
  font-family: BGFlame;
  src: url('../fonts/bgflame/light/bgflameweb-light.woff') format('woff');
  font-weight: 200;
  font-style:normal;

}
@font-face {
  font-family: BGFlame;
  src: url('../fonts/bgflame/lightitalic/bgflameweb-lightitalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

