.editable-dropdown-caret {
  cursor: pointer;
  float: right;
  margin-right: 20px;
  margin-top: -35px;
  position: relative;
  z-index: 2;
  top: 8px;
  font-size: 1rem;
  color: #005882;
  border: 0;
}
